@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust if needed based on the layout */
    width: 100%; /* Ensures it doesn't stretch beyond the parent container */
  }

  .spinner {
    margin: auto;
    width: 60px; /* Define spinner size explicitly */
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  margin: 0 !important;
}

.rdp-nav {
  display: none !important;
}

.modal-content {
  animation: fadeIn 0.6s ease-out;
}

.modal-overlay {
  transition: opacity 0.3s ease-out;
}

.modal-overlay {
  opacity: 1;
}
